body{
    font-family: Arial;
    background:#202124;
    color:white;
    text-align:center;
}


.caixa{
    background:#303134;
    padding:20px;
    max-width:500px;
    margin:auto;
    border-radius:15px;
}


input, textarea, button{

    width:90%;
    padding:10px;
    margin:8px;

    border-radius:10px;
    border:none;
}


textarea{
    height:100px;
}


button{

    background:#4285f4;
    color:white;
    cursor:pointer;

}


.post{

    background:#303134;
    margin:20px auto;
    padding:20px;
    max-width:600px;
    border-radius:15px;

}


.post img{

    width:100%;
    border-radius:10px;

}
